#python>=3.8
matplotlib==3.5.3
numpy==1.23.2
pandas==1.4.3
xlrd>=1.0.0
netcdf4==1.6.0
cftime==1.6.1
erddapy==1.2.1
mysql-connector-python==8.0.30
ctd==1.4.1 #python-ctd
seawater==3.3.4
#geomag cmweis github version... part of package
pytest