#python>=3.8
matplotlib==3.4.3
numpy==1.21.4
pandas==1.3.3
xlrd>=1.0.0
netcdf4==1.5.7
cftime==1.5.1
erddapy==1.1.0
mysql-connector-python==8.0.26
ctd==1.1.1 #python-ctd
seawater==3.3.4
#geomag cmweis github version... part of package
