#python>=3.8
matplotlib==3.9.2
numpy==2.1.2
pandas==2.2.3
xlrd>=1.0.0
netcdf4==1.7.2
cftime==1.6.4.post1
erddapy==2.2.3
mysql-connector-python==9.1.0
ctd==1.4.6 #python-ctd
seawater==3.3.5
#geomag cmweis github version... part of package
pytest