#python>=3.8
matplotlib==3.10.0
numpy==2.2.1
pandas==2.2.3
xlrd>=1.0.0
netcdf4==1.7.2
cftime==1.6.4.post1
erddapy==2.2.3
ctd==1.4.6 #python-ctd
seawater==3.3.5 #soon to be depricated for gsw
gsw-xarray
gsw
bottleneck==1.5.0
#geomag cmweis github version... part of package
pyyaml
requests
